$theme-blue: #294454;
$theme-yellow: #F3CB02;

$primary: $theme-yellow;
$button-color: $theme-blue;

$navbar-background-color: $theme-blue;
$navbar-item-color: $theme-yellow;
$navbar-item-hover-color: $theme-yellow;
